<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>精美的多级侧边栏导航菜单</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/demo.css">
    <link rel="stylesheet" href="/css/sidebar-menu.css">
    <link rel="stylesheet" href="/css/simpleAlert.css">

    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/simpleAlert.js" type="text/javascript"></script>
    <style type="text/css">
        .main-sidebar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            min-height: 100%;
            width: 230px;
            z-index: 810;
            background-color: #222d32;
        }

        body {
            margin: 0px;
            width: 100%;
            min-width: 1500px;
            max-width: 100%;
            height: 100%;

        }
        .div-testDialog {
            width: 500px;
            height: auto;
            margin: 50px auto;
        }

        .div-testDialog button {
            margin: 10px;
        }
    </style>
    <!--[if IE]>
    <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
<div style="display: inline">
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <div class="header" style="text-align: center">
                    <a href="#">



                                        <img  alt="..." th:src="${loginUser.imgUrl}" class="img-circle img-thumbnail">
                                        <br><label th:text="${loginUser.nameall}"></label>
                                        <br><span th:text="${loginUser.email}"></span>
                    </a>
                </div>
                <li class="header">菜单选项</li>
                <li class="treeview">
                    <a href="/user/index">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span>写信</span>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-list-alt"></i></i> <span>群发邮件</span>
                        <small class="label pull-right label-info">新</small>
                    </a>
                </li>
                <li class="active">
                    <a href="/user/recMsglist">
                        <i class="
glyphicon glyphicon-inbox"></i></i> <span>收信箱(<span th:text="${messageCountDTO.unReadMsgCount}"></span>)</span>
                        <small class="label pull-right label-danger" th:text="${messageCountDTO.newMsgCount}">3</small>
                    </a>
                </li>

                <li>
                    <a href="/user/getDraftListView">
                        <i class="glyphicon glyphicon-edit"></i></i> <span>草稿箱(<span th:text="${messageCountDTO.DraftCount}"></span>)</span>

                    </a>
                </li>
                <li>
                    <a href="/user/recordSenderMsgView">
                        <i class="fa fa-envelope"></i> <span>已发送邮件(<span th:text="${messageCountDTO.sendedMsgCount}"></span>)</span>
                    </a>
                </li>
                <li>
                    <a href="/user/deletedMsgListView">
                        <i class="glyphicon glyphicon-trash"></i> <span>邮件回收站(<span th:text="${messageCountDTO.deleteMsgCount}"></span>)</span>

                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-warning-sign"></i> <span>垃圾邮件</span>
                        <small class="label pull-right label-warning">12</small>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-book"></i> <span>通讯录</span>
                        <small class="label pull-right label-warning">12</small>
                    </a>
                </li>

                <li class="header">系统操作</li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>修改个人资料</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>修改密码</span></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-log-out"></i> <span>退了登录</span></a></li>

            </ul>
        </section>
    </aside>
</div>
<div style="display: inline;">
    <div style="display: inline-block;width: 230px;"></div>
    <div style="display: inline-block;width: auto;color: black; min-width: 1200px;max-width: 1200px;">
        <div style="margin-top: 20px;margin-left: 20px;">
            <blockquote style="border-left-color: #b8c7ce;border-bottom: 1px solid #b8c7ce;">
                <p style="color: black">收信箱</p>
            </blockquote>
            <form name="demo" method="post">
                <button class="btn btn-warning" type="button" onclick="deleteMsg()">删除</button>
                <button class="btn btn-danger" type="button" onclick="deletedMsg()">彻底删除</button>
                <button class="btn btn-info" type="button" onclick="readedMsg()">标记已读</button>
                <button class="btn btn-info" type="button" onclick="readedMsgAll()">全部标记已读</button>
                <table class="bTable table table-striped table-bordered table-hover table-condensed"
                       style="margin-top: 10px;">
                    <thead>
                    <tr>
                        <th class="selectColumn" style="width: 35px;"><input type="checkbox" onclick="setALLNo(this)"
                                                                             style="display: block; margin-right: auto;margin-left: auto;"></th>
                        <th style="width: 50px;">状态</th>
                        <th style="width: 50px;">附件</th>
                        <th style="width: 200px;">发件人</th>
                        <th style="width: 500px;">主题</th>
                        <th style="width: 100px;">大小</th>
                        <th style="width: 200px;">时间</th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr th:each="msg:${pageList.getList()}">
                        <td><input type="checkbox" name="msgId"
                                   style="display: block; margin-right: auto;margin-left: auto;" th:value="${msg.messageName}"></td>
                        <td><span th:if="${msg.readed==0}" class="
glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            <span th:if="${msg.readed==1}" class="
glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        </td>
                        <td><span th:if="${msg.isFileStatus==1}" class="
glyphicon glyphicon-paperclip" aria-hidden="true"></span></td>
                        <td><span th:text="${msg.sender}"></span></td>
                        <td><div th:text="${msg.subject}" style="width:460px; overflow: hidden;white-space: nowrap;text-overflow:ellipsis;"></div></td>
                        <td ><span th:text="${msg.size}"></span>kb</td>
                        <td><span th:text="${#dates.format(msg.lastUpdated, 'yyyy-MM-dd HH:mm:ss')}"></span></td>


                    </tr>

                    </tbody>

                </table>
                <nav aria-label="Page navigation" >
                    <ul class="pagination" style="display:block;width: auto;">
                        <li th:if="${!pageList.isIsFirstPage()}" >
                            <a aria-label="Previous" th:href="@{/user/recMsglist(indexPage=1)}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:if="${pageList.isHasPreviousPage()}" ><a th:href="@{/user/recMsglist(indexPage=${pageList.pageNum - 1})}">&lt;</a></li>

                        <li th:each="num:${pageList.navigatepageNums}" th:class="${pageList.pageNum==num? 'active':''}"><a th:href="@{/user/recMsglist(indexPage=${num})}" ><span th:text="${num}"></span></a></li>

                        <li th:if="${pageList.hasNextPage}"><a th:href="@{/user/recMsglist(indexPage=${pageList.pageNum + 1})}">&gt;</a></li>
                        <li th:if="${!pageList.isLastPage}">
                            <a  aria-label="Next" th:href="@{/user/recMsglist(indexPage=${pageList.pages})}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <input style="display: none;" name="indexPage" th:value="${pageList.pageNum}" />
            </form>
        </div>
        <div></div>
    </div>
</div>


<script>window.jQuery || document.write('<script src="/js/jquery-2.1.1.min.js"><\/script>')</script>
<script src="/js/sidebar-menu.js"></script>
<script>
    $.sidebarMenu($('.sidebar-menu'));

    // 删除邮件
    function deleteMsg() {
        var msgId = document.getElementsByName("msgId");
        for (var i = 0; i < msgId.length; i++) {
            if(msgId[i].checked==true){
                var dblChoseAlert = simpleAlert({
                    "content": "是否删除邮件！删除的邮件将在回收站！",
                    "buttons": {
                        "确定": function () {

                            dblChoseAlert.close();
                            document.demo.action = "/user/deleteMsg";
                            document.demo.submit();
                            return true;
                        },
                        "取消": function () {

                            dblChoseAlert.close();
                            return false;
                        }
                    }
                });

                return false;
            }
        }
        alert("请勾选后再操作");
        return false;
    }
    // 彻底删除邮件
    function deletedMsg() {
        var msgId = document.getElementsByName("msgId");
        for (var i = 0; i < msgId.length; i++) {
            if(msgId[i].checked==true){
                var dblChoseAlert = simpleAlert({
                    "content": "确定彻底删除邮件！删除后不可再恢复！",
                    "buttons": {
                        "确定": function () {

                            dblChoseAlert.close();
                            document.demo.action = "/user/deletedMsg";
                            document.demo.submit();
                            return true;
                        },
                        "取消": function () {
                            dblChoseAlert.close();
                            return false;
                        }
                    }
                })


                return false;
            }
        }
        alert("请勾选后再操作");
        return  false;
    }
    // 已读邮件
    function readedMsg() {
        var msgId = document.getElementsByName("msgId");
        for (var i = 0; i < msgId.length; i++) {
            if(msgId[i].checked==true){
                var dblChoseAlert = simpleAlert({
                    "content": "是否确定标记邮件为已读？",
                    "buttons": {
                        "确定": function () {

                            dblChoseAlert.close();
                            document.demo.action = "/user/readed";
                            document.demo.submit();
                            return true;
                        },
                        "取消": function () {
                            dblChoseAlert.close();
                            return false;
                        }
                    }
                })


                return false;
            }
        }
        alert("请勾选后再操作");
        return  false;
    }
    // 已读邮件
    function readedMsgAll() {
        var dblChoseAlert = simpleAlert({
            "content": "是否确定将全部邮件标记成已读！",
            "buttons": {
                "确定": function () {

                    dblChoseAlert.close();
                    document.demo.action = "/user/readedAll";
                    document.demo.submit();
                    return true;
                },
                "取消": function () {
                    dblChoseAlert.close();
                    return false;
                }
            }
        })


        return false;



    }
    // 点击全选与全反选
    function setALLNo(e) {
        var box = e;
        var msgId = document.getElementsByName("msgId");
        if (box.checked == false) {
            for (var i = 0; i < msgId.length; i++) {
                msgId[i].checked = false;
            }
        } else {
            for (var i = 0; i < msgId.length; i++) {
                msgId[i].checked = true;
            }
        }
    }



</script>
</body>
</html>