<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>精美的多级侧边栏导航菜单</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/demo.css">
    <link rel="stylesheet" href="/css/sidebar-menu.css">
    <link rel="stylesheet" href="/css/simpleAlert.css">

    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/simpleAlert.js" type="text/javascript"></script>
    <style type="text/css">
        .main-sidebar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            min-height: 100%;
            width: 230px;
            z-index: 810;
            background-color: #222d32;
        }

        body {
            margin: 0px;
            width: 100%;
            min-width: 1500px;
            max-width: 100%;
            height: 100%;

        }
        .div-testDialog {
            width: 500px;
            height: auto;
            margin: 50px auto;
        }

        .div-testDialog button {
            margin: 10px;
        }
    </style>
    <!--[if IE]>
    <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
<div style="display: inline">
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <div class="header" style="text-align: center">
                    <a href="#">



                                        <img  alt="..." style="width: 70px;height: 70px;" th:src="${loginUser.imgUrl}" class="img-circle img-thumbnail">
                                        <br><label th:text="${loginUser.nameall}"></label>
                                        <br><span th:text="${loginUser.email}"></span>
                    </a>
                </div>
                <li class="header">菜单选项</li>
                <li class="treeview">
                    <a href="/user/index">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span>写信</span>
                    </a>

                </li>
                <li>
                    <a href="/user/getGroupSender">
                        <i class="glyphicon glyphicon-list-alt"></i></i> <span>群发邮件</span>

                    </a>
                </li>
                <li>
                    <a href="/user/recMsglist">
                        <i class="
glyphicon glyphicon-inbox"></i></i> <span>收信箱(<span th:text="${messageCountDTO.unReadMsgCount}"></span>)</span>
                        <small class="label pull-right label-danger" th:text="${messageCountDTO.newMsgCount}">3</small>
                    </a>
                </li>

                <li>
                    <a href="/user/getDraftListView">
                        <i class="glyphicon glyphicon-edit"></i></i> <span>草稿箱(<span th:text="${messageCountDTO.DraftCount}"></span>)</span>

                    </a>
                </li>
                <li>
                    <a href="/user/recordSenderMsgView">
                        <i class="fa fa-envelope"></i> <span>已发送邮件(<span th:text="${messageCountDTO.sendedMsgCount}"></span>)</span>
                    </a>
                </li>
                <li>
                    <a href="/user/deletedMsgListView">
                        <i class="glyphicon glyphicon-trash"></i> <span>邮件回收站(<span th:text="${messageCountDTO.deleteMsgCount}"></span>)</span>

                    </a>
                </li>
                <li>
                    <a href="/user/getMailBookView">
                        <i class="glyphicon glyphicon-book"></i> <span>通讯录</span>
                     
                    </a>
                </li>

                <li class="header">系统操作</li>
                <li th:if="${loginUser.authorrityName=='root'}"><a href="/user/admin/getDeptView"><i class="fa fa-circle-o text-yellow"></i> <span>进入后台管理</span></a></li>
                <li th:if="${loginUser.authorrityName=='V3'}" class="active"><a href="/user/v3/getStaffListView"><i class="fa fa-circle-o text-yellow"></i> <span>部门员工管理</span></a></li>
                <li><a href="/user/getUpdateProfile"><i class="fa fa-circle-o text-yellow"></i> <span>修改个人资料</span></a></li>
                <li><a href="/user/updatePasswordView"><i class="fa fa-circle-o text-yellow"></i> <span>修改密码</span></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-log-out"></i> <span>退了登录</span></a></li>

            </ul>
        </section>
    </aside>
</div>
<div style="display: inline;">
    <div style="display: inline-block;width: 230px;"></div>
    <div style="display: inline-block;width: auto;color: black; min-width: 1200px;max-width: 1200px;">
        <div style="margin-top: 20px;margin-left: 20px;">
            <blockquote style="border-left-color: #b8c7ce;border-bottom: 1px solid #b8c7ce;">
                <p style="color: black">部门员工管理</p>
            </blockquote>
            <div style="width: 1200px;margin-right: auto;margin-left: auto;">
                <form class="form-inline" name="demo" action="/user/admin/getStaffListView" method="post">
                    <div style="width: 80px; margin-left: auto;margin-right: auto">
                        <button type="button" class="btn btn-default" onclick="getAddDeptSatffView()">添加员工</button>
                    </div>
                    <table class="bTable table table-striped table-bordered table-hover table-condensed"
                           style="margin-top: 10px;">
                        <thead>
                        <tr>
                            <th class="selectColumn" style="width: 50px;">工号</th>
                            <th style="width: 200px;">邮箱地址</th>
                            <th style="width: 150px;">姓名</th>
                            <th style="width: 200px;">部门名称</th>
                            <th style="width: 200px;">职位名称</th>
                            <th style="width: 150px;">电话</th>
                            <th style="width: 200px;">入职时间</th>
                            <th style="width: 80px;">状态</th>
                            <th style="width: 150px;">操作</th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr th:each="item,iterStat:${pageList.getList()}">



                            <td style="text-align: center;"><span th:text="${item.userName}"></span></td>

                            <td>
                                <span th:text="${item.email}"></span>
                            </td>
                            <td>
                                <span th:text="${item.nameall}"></span>
                            </td>
                            <td>
                                <span th:text="${item.deptName}"></span>
                            </td>
                            <td>
                                <span th:text="${item.positionName+'('+item.authName+')'}"></span>
                            </td>
                            <td>
                                <span th:text="${item.cellPhone}"></span>
                            </td>




                            <td><span th:text="${#dates.format(item.startTime, 'yyyy-MM-dd')}"></span></td>

                            <td>
                                <span th:if="${item.status==0}">任职</span>
                                <span th:if="${item.status==1}">离职</span>
                            </td>

                            <td>
                                <div class="btn-group" role="group" aria-label="..." style="text-align: center;">

                                    <button type="button" class="btn btn-default" id="editor" th:data-username="${item.userName}" onclick="editorStaff()">修改</button>
                                    <button type="button" class="btn btn-default" id="quit" th:data-username="${item.userName}" onclick="deleteStaff()">辞退</button>
                                </div>
                            </td>

                        </tr>

                        </tbody>

                    </table>
                    <nav aria-label="Page navigation" >
                        <ul class="pagination" style="display:block;width: auto;">
                            <li th:if="${!pageList.isFirstPage}" >
                                <a aria-label="Previous" th:href="@{/user/v3/getStaffListView(indexPage=1)}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li th:if="${pageList.isHasPreviousPage()}" ><a th:href="@{/user/v3/getStaffListView(indexPage=${pageList.pageNum - 1})}">&lt;</a></li>

                            <li th:each="num:${pageList.navigatepageNums}" th:class="${pageList.pageNum==num? 'active':''}"><a th:href="@{/user/v3/getStaffListView(indexPage=${num})}" ><span th:text="${num}"></span></a></li>

                            <li th:if="${pageList.hasNextPage}"><a th:href="@{/user/v3/getStaffListView(indexPage=${pageList.pageNum + 1})}">&gt;</a></li>
                            <li th:if="${!pageList.isLastPage}">
                                <a  aria-label="Next" th:href="@{/user/v3/getStaffListView(indexPage=${pageList.pages})}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <input style="display: none;" name="indexPage" th:value="${pageList.pageNum}" />
                </form>
            </div>
        </div>

    </div>
</div>


<script>window.jQuery || document.write('<script src="/js/jquery-2.1.1.min.js"><\/script>')</script>
<script src="/js/sidebar-menu.js"></script>
<script>
    $.sidebarMenu($('.sidebar-menu'));



    function deleteStaff() {
        var username=$("#quit").data("username");
        var dblChoseAlert = simpleAlert({
            "content": "是否确定辞退员工？",
            "buttons": {
                "确定": function () {

                    dblChoseAlert.close();
                    $.ajax({

                        url:"/user/deleteStaff",

                        type:"POST",

                        data:{
                            "username":username
                        },

                        success:function(data){
                            dblChoseAlert.close();
                            setTimeout(function () {
                                alert(data.msg);
                                location.reload();
                            },500)
                        }
                    })

                    return true;
                },
                "取消": function () {
                    dblChoseAlert.close();
                    return false;
                }
            }
        })

    }

    function editorStaff() {
        var username = $("#editor").data("username");
        window.location.href="/user/v3/getUpdateDeptStaffView?username="+username;

    }
   function getAddDeptSatffView(){
        window.location.href="/user/v3/getAddDeptStaffView";
   }

</script>
</body>
</html>